#bg {
    background-color: #D9D9D9;
    height: 100svh;
}



/* Header stuff */

#pageContent{
    height: calc(100svh - 64px);
    position:relative;
    overflow: hidden;
}

#header_path_div {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /* width: 550px; */
    margin-left: 25px;
}

#header_path_link, #header_path_text {
    font-family: Outfit;
    font-weight: 100;
    color: var(--dark-gray)
}

#header_path_link {
    margin-right: 0px;
    text-decoration: underline;
    margin-left: 0;
}
#header_path_link:hover {
    color: var(--blue-link)
}


/* Tiles */

.tiles_flex {
    display: flex;
    flex-flow: row wrap;
    margin-left: 25px;
    gap: 12px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.tile_list_spacer{
    height: 13px;
    flex-shrink: 0;
}

/* Tile 1 stuff */

.banner_image {
    overflow: hidden;
}

.banner_div {
    position: relative;
    margin-bottom: 25px;
    flex: 2;
    position: relative;
}

.banner_content_container {
    background-color: var(--b1BG);
    border-radius: 32px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}

#logo_BG, #logo_cutout_main {
    position: absolute;
    bottom:0;
    left:0;
}

#logo_cutout_main {
    background-color: #D9D9D9;
    width: calc(128px + 12px);
    height: calc(128px + 12px);
    border-top-right-radius: 32px;
}

#logo_cutout_rounded_1, #logo_cutout_rounded_2 {
    position: absolute;
    width: 32px;
    height: 32px;
}

#logo_cutout_rounded_1 {
    bottom: 0px;
    left: 140px;
}

#logo_cutout_rounded_2 {
    left: 0px;
    bottom: 140px;
}

#logo_BG :global {
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInLeftLarge, 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 fadeIn;
    animation-fill-mode: forwards;
    background-color: white;
    width: 128px;
    height: 128px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#club_logo {
    border-radius: 18px;
    width: 90px;
    height: 90px;
}

.club_logo_holder {
    position: absolute;
    bottom: 25px;
    left: 0px;
}

@media (max-width: 1000px) {
    #logo_cutout_main {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 28px;
        left:auto;
        bottom:auto;
        right:0;
        top:0;
        /* border: 1px solid #D9D9D9; */
        width: calc(100px + 8px);
        height: calc(100px + 8px);
        transform: translateX(1px) translateY(-1px);
    }

    #logo_cutout_rounded_1, #logo_cutout_rounded_2 {
        transform: rotate(180deg) translateX(-1px);
        /* filter: drop-shadow(-1px 1px 0 #D9D9D9); used to hide seams */
    }

    #logo_cutout_rounded_1 {
        bottom: auto;
        left: auto;
        top: 106px;
        right: 0;
    }
    
    #logo_cutout_rounded_2 {
        left: auto;
        bottom: auto;
        top: 0;
        right: 107px;
    }

    #logo_BG :global {
        animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 slideInTop, 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 fadeIn;
        animation-fill-mode: forwards;
        left: auto;
        bottom: auto;
        top:0;
        right: 0;
        border: unset;
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }    

    #club_logo {
        width: 76px;
        height: 76px;
    }

    .club_logo_holder {
        bottom:auto;
        left:auto;
        top:0px;
        right:0px;
    }
}


/* Info Tiles */

.info_tiles_div {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    max-width: 500px;
    position: relative;
    gap: 12px;
    height: 100%;
    padding-right: 10px;
    overflow-x:hidden;
    overflow-y: scroll;
}


/* General tiles stuff */

.title_body_text {
    font-family: Outfit;
    font-weight: 100;
    font-size: 16px;
    margin: 0;
}

.tile_div :global {
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInRight1;
    width: 100%;
    border-radius: 32px;
    background-color: white;
    border: 1px solid var(--dark-gray);
    padding: 48px;

}

.tile_div_subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 100;
}

.generic_body_text {
    font-size: 16px;
    font-weight: 100;
    color: var(--dark-gray);
    margin: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}


/* Tile 1: Title */

#club_name {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
}

#update_date_activity_container {
    display: flex;
    flex-flow: row;
    gap: 15px;
    align-items: center;
}

#last_modified {
    font-size: 16px;
    margin: 0;
}

#activity_div {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
}

#activity_div p {
    margin: 0;
    font-size: 16px;
}

#activity_div img {
    width: 20px;
}


.title_tile_mobile {
    position: absolute;
    bottom: 0;
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
}


/* Tile 2: Meeting Times */

.meeting_times_container, .exec_position_container {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    margin-top: 12px;
}

.text_side_line {
    width: 4px;
    height: inherit;
    border-radius: 25px;
    margin-left: 7px;
}

.meeting_times_div {
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
}

.meeting_times_div h2, .exec_position_title {
    /* Exec position title, which is meant for tile 5, is thrown in here as well for simplicity's sake */
    font-weight: 100;
    margin: 0px;
    font-size: 18px;
}

.meeting_times_div p {
    font-weight: 100;
    margin: 0px;
    font-size: 16px;
}


/* Tile 3: Links */

#links_container {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.link {
    display: flex;
    flex-flow: row;
    gap: 6px;
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid var(--light-gray);
    min-height: 32px;
    height: unset;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    transition: 0.25s background-color;
}

.link p {
    font-size: 18px;
    margin: 0px;
    margin-left: 8px;
    width: 100%;
    word-wrap: break-word;
    color: black;

    transition: 0.25s color;
}

.link:hover {
    background-color: #D9D9D9;
    text-decoration: none;
}

.link:hover p {
    color: var(--blue-link);
}

.link img {
    height: 32px;
    width: 32px;
    margin-left:6px;
    flex-shrink: 0;
    object-fit: contain;
}

.link .linkArrowIcon {
    height: 32px;
    width: 32px;
    margin-right:6px;
    object-fit: contain;
}

/* Tile 4: Supervisors */

.supervisor_list {
    font-weight: 100;
    font-size: 16px;
    color: var(--dark-gray);
}


/* Tile 5: Execs */

.exec_position_container {
    margin-bottom: 12px;
}


/* Utility */
.mobileEnabled {
    display: none;
}

.mobileDisabled {
    display: initial;
}

@media (max-width: 1000px) {
    /* Utility */
    
    .mobileEnabled {
        display: initial;
    }
    .mobileDisabled {
        display: none;
    }

    /* Text Stuff */
    #club_name{
        color: white;
    }

    .tile_div_subtitle {
        font-size: 24px;
    }

    .title_body_text {
        font-size: 12px;
    }

    .meeting_times_div p {
        font-size: 14px;
    }

    .generic_body_text {
        font-size: 14px;
    }
    
    #last_modified {
        font-size: 14px;
    }

    #activity_div p {
        font-size: 14px;
        font-weight: bold;
    }

    #activity_div img {
        width: 18px;
    }

    /* Header Stuff */
    #header_path_div {
        visibility: hidden;
    }

    /* Tile Stuff */

    .supervisor_list {
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 7px;
    }

    .meeting_times_container {
        flex-flow: row nowrap;
    }

    .tiles_flex {
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        margin:0;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-flow: column;
    }
    .tile_div :global {
        animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInLeft;
        width: auto;
        padding: 36px;
    }
    .banner_div :global {
        margin-bottom: 0;
        flex-grow: 1;
        flex-shrink: 0;
        height:340px;
        flex-basis: auto;
        animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInTop;
    }
    .banner_gradient {
        position: absolute;
        background: linear-gradient(180deg, rgba(7, 33, 54, 0.48) 20%, var(--b0BG));
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .info_tiles_div {
        padding: 0;
        overflow-y: auto;
        flex-shrink: 0;
        flex-grow: 0;
        min-height: 100px;
    }
    .club_logo_holder {
        /* visibility: hidden; */
        
    }
    .tile_list_spacer{
        height: 3px;
    }
    
}