#bg {
    background-color: #D9D9D9;
    height: 100vh;
}


/* Header stuff */

#header {
    height: 64px;
}

#header_path_div {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 550px;
    margin-left: 25px;
}

#header_path_link, #header_path_text {
    font-family: Outfit;
    font-weight: 100;
    color: var(--dark-gray)
}

#header_path_link {
    margin-right: 0px;
    text-decoration: underline;
    margin-left: 0;
}
#header_path_link:hover {
    color: var(--blue-link)
}

#header_logo_button {
    position: absolute;
    z-index: 0;
    height: 64px;
    width: 100vw;
}
#header_logo_button:hover {
    text-decoration: none;
    opacity: 50%;
}

#header_logo_div {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#kssdir_logo_BG {
    height: 36px;
    width: 36px;
    background-color: #072136;
    border-radius: 50%;
}

#kssdir_logo {
    position: relative;
    height: 30px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#kssdir_logo_text {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
    font-family: Outfit;
    font-weight: bold;
    color: #072136;
    align-content: center;
}





/* Tiles */

.tiles_flex {
    display: flex;
    flex-flow: row wrap;
    margin-left: 25px;
    margin-right: 25px;
    height: calc(100vh - 64px - 25px);
    gap: 12px;
}



/* Tile 1 stuff */

.masked_banner {
    border-radius: 32px;
    overflow: hidden;
}

#banner_div {
    position: relative;
    flex: 2;
}




/* Secondary Tiles */

#secondary_tiles_div {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    position: relative;
}


#logo_BG, #logo_cutout_main {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

#logo_BG {
    background-color: white;
    width: 128px;
    height: 128px;
    border-radius: 32px;
    border: 1px solid var(--dark-gray);
}

#logo_cutout_main {
    background-color: #D9D9D9;
    width: calc(128px + 12px);
    height: calc(128px + 12px);
    border-top-right-radius: 32px;
}

#logo_cutout_rounded_1, #logo_cutout_rounded_2 {
    position: absolute;
    width: 32px;
    height: 32px;
}

#logo_cutout_rounded_1 {
    bottom: 25px;
    left: calc(140px + 25px);
}

#logo_cutout_rounded_2 {
    left: 25px;
    bottom: calc(140px + 25px);
}


#club_logo {
    position: absolute;
    bottom: calc(25px + 20px);
    left: calc(25px + 20px);
    border-radius: 24px;
}



/* General tiles stuff */

.body_text {
    font-family: Outfit;
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    margin-top: 8px;
    color: var(--dark-gray);
}

.tile_div {
    width: inherit;
    border-radius: 32px;
    background-color: white;
    border: 1px solid var(--dark-gray);
    padding: 48px;
}



/* Tile 1: Title */

#club_name {
    margin: 0;
    font-weight: 200;
    font-size: 40px;
}

#last_modified {
    font-size: 16px;
    margin-bottom: 8px;
}

#activity_div {
    position: absolute;
    right: 0px;
    top: 6px;
    display: flex;
    gap: 10px;
    padding: 48px;
}

#activity_div p {
    margin: 0;
    font-size: 16px;
}

#activity_div img {
    width: 20px;
}