#bg {
    background-color: #D9D9D9;
    height: 100dvh;
    width: 100dvw;
}

#pageContent {
    height: calc(100vh - 64px);
    position:relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

#header_path_div {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 550px;
    margin-left: 25px;
}

#header_path_link, #header_path_text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: Outfit;
    font-weight: 100;
    color: var(--dark-gray)
}

#header_path_link {
    margin-right: 0px;
    margin-left: 0;
}

/* Utility */
.mobileEnabled {
    display: none;
}

.mobileDisabled {
    display: initial;
}

@media (max-width: 1000px) {
    /* Utility */
    
    .mobileEnabled {
        display: initial;
    }
    .mobileDisabled {
        display: none;
    }

    #header_path_div {
        display: none;
    }
}




/* Top section */

#top_section {
    display: flex;
    flex-flow: row;
    gap: 12px;
    height: calc((100dvh - 64px) * 2 / 3);
    margin-inline: 25px;
}

#club_repo_title_section {
    background-color: var(--b0BG);
    border-radius: 32px;
    flex: 1;
    min-width: 500px;
    max-width: 750px;
    height: inherit;
    overflow: hidden;
    object-fit: fill;
    position: relative;
}

#title_section_text {
    position: absolute;
    bottom: 0;
    padding: 50px;
}

#title_section_text h1 {
    color: white;
    font-size: calc(100vw / 36);
    margin: 0;
}

#title_section_text p {
    font-size: 18px;
    width: calc(100% * 3 / 4);
    margin-bottom: 0;
}


#club_repo_carousel {
    background-color: red;
    flex: 2;
    border-radius: 32px;
    height: inherit;
}

#title_section_kss_dir_logo {
    height: 115%;
    width: 115%;
    position: absolute;
    top: -250px;
    right: -250px;
}

#title_section_kss_dir_logo_mask {
    width: inherit;
    height: inherit;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    mask-image: radial-gradient(circle, rgba(7,33,54,1) 0%, rgba(7,33,54,0) 80%);
}

@media (max-width: 1000px) {
    #top_section {
        margin-inline: 15px;
    }

    #club_repo_title_section {
        min-width: 350px;
    }
}

@media (max-width: 850px) {
    #top_section {
        flex-direction: column;
        height: auto;
    }

    #title_section_text {
        padding:24px;
        padding-bottom: 36px;
    }

    #title_section_text h1 {
        font-size: 30px;
        font-weight: 600;
    }
    
    #title_section_text p {
        font-size: 12px;
        width: auto;
        margin-top: 0;
    }

    #title_section_kss_dir_logo {
        top:-60px;
        right: -140px;
        width: 100%;
        height: 100%;
    }

    #club_repo_carousel {
        height: 260px;
        flex: 0 0 260px;
    }
    
    #club_repo_title_section {
        min-width: unset;
        height: 180px;
        flex: 0 0 180px;
    }
}
