@keyframes rotateIn {
    10% {
        filter: drop-shadow(0px 0px 30px white);
    }
    100% {
        scale: 1;
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}

#bg {
    background-color: #D9D9D9;
    height: 100svh;
    width: 100svw;
}

#pageContent {
    height: calc(100svh - 64px);
    position:relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

#header_path_div {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 550px;
    margin-left: 25px;
}

#header_path_link, #header_path_text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: Outfit;
    font-weight: 100;
    color: var(--dark-gray)
}

#header_path_link {
    margin-right: 0px;
    margin-left: 0;
}

/* Utility */
.mobileEnabled {
    display: none;
}

.mobileDisabled {
    display: initial;
}

@media (max-width: 850px) {
    /* Utility */
    
    .mobileEnabled {
        display: initial;
    }
    .mobileDisabled {
        display: none;
    }

    #header_path_div {
        display: none;
    }
}




/* Top section */

#top_section {
    display: flex;
    flex-flow: row;
    gap: 12px;
    height: calc((100dvh - 64px) * 2 / 3);
    margin-inline: 25px;
}

#club_repo_title_section :global{
    background-color: var(--b0BG);
    border-radius: 32px;
    flex: 1;
    min-width: 500px;
    max-width: 750px;
    height: inherit;
    overflow: hidden;
    object-fit: fill;
    position: relative;
    border: 1px solid var(--dark-gray);
    box-sizing: border-box;

    transform: translateX(-20%);
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 slideInLeft;
    animation-fill-mode: forwards;
}

#title_section_text {
    position: absolute;
    bottom: 0;
    padding: 50px;
}

#title_section_text h1 {
    color: white;
    font-size: calc(100vw / 36);
    margin: 0;
}

#title_section_text p {
    font-size: 18px;
    width: calc(100% * 3 / 4);
    margin-bottom: 0;
}

#title_section_text h1 sup {
    color: var(--b3BG)
}

.generic_slide {
    padding: 50px;
    box-sizing: border-box;
}

.beta_slide_div {
    width: 100%;
    
    position: absolute;
    bottom: 0;
}

.beta_slide_div h2 {
    color: white;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 0px;
}

.beta_slide_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.carousel_gradient {
    width: 100%;
    height: 100%;
    position: absolute;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 42.7%, var(--b0BG) 95.17%);
}

.beta_slide_div p {
    color: var(--light-gray);
    font-size: 18px;
    font-weight: normal;
    margin-top: 12px;
    margin-bottom: 0px;
}

#club_repo_carousel :global{
    box-sizing: border-box;
    border: 1px solid var(--dark-gray);
    background-color: var(--b2BG);
    flex: 2;
    border-radius: 32px;
    height: inherit;
    overflow: hidden;
    position: relative;

    opacity: 0;
    transform: translateX(10%);
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 slideInRight2, 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 fadeIn;
    animation-fill-mode: forwards;
}

#title_section_kss_dir_logo {
    height: 115%;
    width: 115%;
    position: absolute;
    top: -250px;
    right: -250px;


    transform: rotate(45deg);
    opacity: 0;
    
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 rotateIn, 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 fadeIn;
    animation-fill-mode: forwards;
}

#title_section_kss_dir_logo_mask {
    width: inherit;
    height: inherit;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    mask-image: radial-gradient(circle, rgba(7,33,54,1) 0%, rgba(7,33,54,0) 80%);
}



/* Content Section */

#content_section_div {
    padding-inline:25px;
}


.club_category_carousel {
    transform: translateX(-5%);
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 slideInLeft;
    animation-fill-mode: forwards;
}

.club_category_name {
    margin-top: 48px;
    font-size: 20px;
    color: var(--dark-gray);
}

.spacer_div {
    height: 48px;
}

#mobile_button_container :global {
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-top: 15px;

    transform: translateY(10%);
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 slideInBottom;
    animation-fill-mode: forwards;
}

.mobile_button_container_horizontal {
    display: flex;
    gap:15px;
}

@media (max-width: 1000px) {
    #top_section {
        margin-inline: 15px;
    }

    #club_repo_title_section {
        min-width: 350px;
        border-radius: 20px;
    }
    
    #club_repo_carousel {
        border-radius: 20px;
    }

    #content_section_div {
        padding-inline: 15px;
    }
}

@media (max-width: 850px) {
    #top_section {
        flex-direction: column;
        height: auto;
    }

    #title_section_text {
        padding:24px;
        padding-bottom: 36px;
    }

    #title_section_text h1 {
        font-size: 32px;
        font-weight: 600;
    }
    
    #title_section_text p {
        font-size: 12px;
        width: auto;
        margin-top: 6px;
    }

    .generic_slide {
        padding: 24px;
    }

    .beta_slide_div h2 {
        font-size: 28px;
    }

    .beta_slide_div p {
        font-size: 12px;
    }

    #title_section_kss_dir_logo {
        top:-60px;
        right: -140px;
        width: 100%;
        height: 100%;
    }

    #club_repo_carousel :global {
        height: 260px;
        flex: 0 0 260px;

        opacity: 0;
        transform: translateX(-20%);
        animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 slideInLeft, 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0.1s 1 fadeIn;
        animation-fill-mode: forwards;
    }
    
    #club_repo_title_section :global{
        min-width: unset;
        max-width: unset;
        height: 280px;
        flex: 0 0 280px;
        animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInLeft forwards;
    }
}
