#bg {
    background-color: #D9D9D9;
    display: inline-block;
    min-height: 100vh;
    min-width: 100vw;
}

#header_path_div {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 550px;
    margin-left: 25px;
}

#header_path_link, #header_path_text {
    font-family: Outfit;
    font-weight: 100;
    color: var(--dark-gray)
}

#header_path_link {
    margin-right: 0px;
    margin-left: 0;
}



/* Top section */

#top_section {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    height: calc((100vh - 64px) * 2 / 3);
}

#club_repo_title_section {
    background-color: var(--b1BG);
    border-radius: 32px;
    flex: 1;
    min-width: 500px;
    max-width: 750px;
    height: inherit;
    overflow: hidden;
    object-fit: fill;
}

#club_repo_carousel {
    background-color: red;
    flex: 2;
    border-radius: 32px;
    height: inherit;
}

#title_section_kss_dir_logo {
    width: 100%;
    position: absolute;
    top: -250px;
    right: -250px;
}

#title_section_kss_dir_logo_mask {
    width: inherit;
    height: inherit;
    position: relative;
    mask-image: radial-gradient(circle, rgba(7,33,54,1) 0%, rgba(7,33,54,0) 80%);
}