.slide_viewport {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    overflow: hidden;
}


.slide_container {
    height: 100%;
    width: 100%;
    transition: right 0.5s;

    display: flex;

    position: relative;
}

.slide {
    flex-shrink: 0;

    width: 100%;
    height: 100%;

    transition: width 0.5s;

    position: relative;
    box-sizing: border-box; 
}

.slideHolder {
    flex-shrink: 0;

    width: 100%;
    height: 100%;

    transition: width 0.5s;

    position: relative;
    box-sizing: border-box; 
}

.nav_button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chevronLeft {
    transform: scaleX(-1);
    transition: opacity 0.15s, transform 0.25s;

    margin-left: 6px;
}

.chevronRight {
    transition: opacity 0.15s, transform 0.25s;

    margin-right: 6px;
}

@media (hover: hover) and (pointer: fine) {
    .chevronLeft:hover {
        transform: scaleX(-1) translateX(5%);
        opacity: 60%;
    }

    .chevronRight:hover {
        transform: translateX(5%);
        opacity: 60%;
    }
}

.chevronLeft:active {
    transform: scaleX(-1) translateX(10%);
    opacity: 40%;
}

.chevronRight:active {
    transform: translateX(10%);
    opacity: 40%;
}

.nav_button:disabled {
    opacity: 40%;
}

.navigation_control_div {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    gap: 6px;
    justify-content: center;
    margin-bottom: 12px;
}

@media (max-width: 850px) {
   .navigation_control_div {
        margin-top: 12px;
        justify-content: space-between;
   } 
}

.position_indicator_div {
    display: flex;
    gap: 3px;
    align-items: center;
}

.position_indicator_bubble {
    all:unset;

    border-radius: 50%;
    width: 13px;
    height: 13px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 3px white;
}

.position_indicator_inner_bubble {
    background-color: white;

    border-radius: 50%;

    flex-shrink: 0;
    flex-grow: 0;

    transition: width 0.15s, height 0.15s;

    width: 0px;
    height: 0px;
}

.position_indicator_bubble:hover .position_indicator_inner_bubble {
    width: 7px;
    height: 7px;
}