.indicatorContainer{

}

.visualContainer{
    width: 100%;
}

.scaleText{
    color:black;
    font-size: 24px;
    padding-left: 0px;
}

.bottomLine{
    height:2px;
    background:black;
}

.distanceTickContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.leftTickLine{
    background:black;
    height:14px;
    width:2px;
}

.centerTickLine{
    background:black;
    height:7px;
    width:2px;
}

.rightTickLine{
    background:black;
    height:14px;
    width:2px;
}