#header_path_div {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 200px;
    margin-left: 25px;
}

#header_path_text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: Outfit;
    font-weight: 100;
    color: var(--light-gray)
}

#floor_navigation_button_div {
    position:absolute; 
    width:240px;
    top:15px;
    right:15px;
    height:212px;
}

@media (max-width: 625px) {
    #floor_navigation_button_div {
        position:absolute; 
        width:200px;
        top:auto;
        bottom:10px;
        right:auto;
        left:10px;
        height:180px;
    }
}