@keyframes slideInBottom {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0);
    }
}

.indicatorContainer{
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInBottom;
}

.visualContainer{
    width: 100%;
    display:flex;
    flex-direction: column;
}

.scaleText{
    color:black;
    font-size: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

.bottomLine{
    width:100%;
    height:2px;
    background:black;
}

.distanceTickContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.leftTickLine{
    background:black;
    height:14px;
    width:2px;
}

.centerTickLine{
    background:black;
    height:7px;
    width:2px;
}

.rightTickLine{
    background:black;
    height:14px;
    width:2px;
}

@media (max-width: 625px) {
    .bottomLine{
        height:100%;
        width:2px;
    }

    .visualContainer{
        flex-direction: row;
    }

    .distanceTickContainer{
        flex-direction: column;
    }

    /*Now bottom tick line*/
    .leftTickLine{
        height:2px;
        width:14px;
    }

    .centerTickLine{
        height:2px;
        width:7px;
    }

    /*Now top tick line*/
    .rightTickLine{
        height:2px;
        width:14px;
    }
    

}