@keyframes slideInBottom {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideInRight {
    0% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(0);
    }
}


#header_path_div {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 200px;
    margin-left: 25px;
}

#header_path_text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: Outfit;
    font-weight: 100;
    color: var(--light-gray)
}

#floor_navigation_button_div {
    position:absolute; 
    width:240px;
    top:15px;
    right:15px;
    height:212px;
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInRight;
}

#scale_indicator_div {
    position: absolute;
    bottom: 0px;
    left: 34px;
}

.mapSVG{
    position:absolute;
    width:50%;
}

@media (max-width: 625px) {
    #floor_navigation_button_div {
        position:absolute; 
        width:200px;
        top:auto;
        bottom:calc(10px + env(safe-area-inset-bottom, 0px));
        right:auto;
        left:10px;
        height:180px;
        animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInBottom;
    }
    #header_path_text {
        font-size: 100%;
    }
    #header_path_div {
        margin-left: 10px;
    }

    #scale_indicator_div {
        left:auto;
        right:10px;
        bottom:calc(10px + env(safe-area-inset-bottom, 0px));
    }

    .mapSVG{
        position:absolute;
        width:100%;
    }
}