  .cafMenuBox {
    border: 1px solid var(--dark-gray);
    border-radius: 16px;
    top: 16px;
  }
  
  .cafMenuContainer {
    padding-top: 12px;
    padding-bottom: 36px;
    padding-right: 24px;
    padding-left: 24px;
  
    align-items: center;
  }
  
  .cafTitleCard {
    padding-top:36px;
    padding-right: 24px;
    padding-left: 24px;
  }
  
  .cafTextLine {
    width: 4px;
    height: inherit;
    border-radius: 25px;
    margin-left: 7px;
    background-color: #072136;
  }
  
  .cafDayContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    margin-top: 12px;
  }
  
  .cafDayInformation {
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
  }
  
  .cafDayContainer h2 {
    color:#626262;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .cafDayContainer p {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1000px) {

    .cafMenuBox {
      border-radius: 30px;
    }
  }

  .infoHeaderText {
    color:var(--dark-gray);
    padding-right: 0px;
    font-size: 24px;
    font-family: Outfit;
    font-weight: bold;
  }

  .infoBodyText{
    color:var(--light-gray);
    padding-right: 0px;
    padding-top: 12px;
    font-size: 16px;
    font-family: Outfit;
    font-weight: 100;
    max-width: 300px;
  }