.generic_button {
    height:100%; 
    width:100%;
    background:#ffffff; 
    border-radius:10px;
    border:1px solid #596875;
    flex-grow:1;
    flex-shrink: 0;
    flex-basis: 0;
    align-self:stretch;
    font-size: 20px;
    color:black;
    font-weight: bold;
    font-family: Outfit;
}

.generic_button:hover{
    background:var(--b0BG); 
    color:white;
}

.generic_button:active {
    background:var(--b1BG); 
    color:white;
}

.generic_button.selected {
    background:var(--b1BG); 
    color:white;
}

/* Provides a bit of feedback when clicking a button that has been already selected, just so that it feels nicer*/
.generic_button.selected:active {
    background:var(--b0BG); 
    color:white;
}