.body {
  /* just adding padding to the whole body */
  padding: 100px;
}

/* font family stuff */

  @font-face {
    font-family: Outfit;
    src: url("Outfit-Regular.ttf");
    font-weight: 100;
  }

  @font-face {
    font-family: Outfit;
    src: url("Outfit-Bold.ttf");
    font-weight: bold
  }

  @font-face {
    font-family: Outfit;
    src: url("Outfit-SemiBold.ttf");
    font-weight: 200;
  }

/* header IDs and tags */

  header {
    /* for the header overall */
    position: fixed;
    width: 100%;
    height: 10rem;
    z-index:999;
  }

  #inside-header {
    /* for the elements that go inside the header, i.e., links */
    position: absolute;
    width: 100%;
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    filter: blur(0px);
    
  }

  #inside-header-bg {
    /* for the background blur, which goes underneath the other elements in the header */
    position: absolute;
    width: 100%;
    height: 10rem;
    background-color:rgba(255, 255, 255, 0.479);
    backdrop-filter: blur(1px);
    filter: blur(25px);
    transform: translateY(-3rem);
  }

/* text styles */

  b {
    color: #626262;
    font-family: Outfit;
    font-weight: 200;
  }

  h1 {
    color: rgb(0, 0, 0);
    font-family: Outfit;
    font-weight: bold;
    border-radius: 25px;
    font-size:3rem;
  }

  .h1-highlight {
    color: #2878BE;
    font-family: Outfit;
    font-weight: bold;
    border-radius: 25px;
    font-size:3rem;
  }

  p {
    color: #A1A1A1;
    font-family: Outfit;
    font-weight: 100;
    line-height: 125%;
    font-size: 115%;
  }

/* Link styles */

  a {
    height: 10rem;
    font-family: Outfit;
    font-weight: 200;
    color:#626262;
    cursor:pointer;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.56, 0.01, 0, 0.99);
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    text-decoration:none;
  }

  a:hover {
    color:#2878BE;
    text-decoration:underline;
  }

  a:active {
    color:#626262;
  }



/* Stuff for the announcemnt cards */

  .anceCards {
    /* The class for each full announcement card */
    background-color: 0C151D;
    border-radius: 30px;
    border: 1px solid #626262;
    flex-shrink: 0;
    padding: 4rem;
    margin: 4rem;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    /* container for centering */
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .anceType {
    /* The class for each announcement role type (e.g., clubs) */
    color: #A9A9A9;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: Outfit;
    font-weight: 100;
  }

  .anceTag {
    /* The class for each announcement ping/role (e.g. Graphic Design Club) */
    flex-shrink:0;
    border: 1px solid #A9A9A9;
    background-color: #626262;
    color: white;
    border-radius: 3rem;
    flex-shrink: 0;
    display: inline-block;
    font-size: 75%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-right: 0.5rem;

    font-family: Outfit;
    font-weight: 100;
  }

  .anceBrief {
    /* The class for each announcement brief description */
    color:brown;
    display: inline-block;
    color: #626262;
    font-family: Outfit;
    font-weight: bold;
  }

  .anceDtls {
    /* The class for each announcement detailed description */
    color: #626262;
    font-family: Outfit;
    font-weight: 100;
  }

  /* styles for the individual announcements, e.g., graphic design club announcement */

    .anceSection {
      margin-right: 1rem;
      padding: 1rem;
      border: 1px solid white;
      border-radius: 1rem;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.56, 0.01, 0, 0.99);
      opacity: 69%;
    }

    .anceSection:hover {
      transform: translateX(1rem);
      border: 1px solid #A9A9A9;
      border-radius: 1rem;
      opacity: 100%;
      box-shadow: 0 16px 64px #2878be3b;
      cursor:pointer;
    }

    .anceSection:active {
      background-color: #e6e6e6;
    }

  .dateIdentifier-day {
    /* The class for each announcement day (specific to the date-identifier), e.g. WEDNESDAY */
    color:#626262;
    font-family: Outfit;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  .dateIdentifier-date {
    /* The class for each announcement date (specific to the date-identifer), e.g. 10/09/2020 */
    color:#A9A9A9;
    font-family: Outfit;
    font-weight:bold;
    font-size: 1rem;
  }



/* Button styles */

  .buttonCentre {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* regular button styles, i.e., the ones at the top of the page */

    .regularButton {
      background-color: white;
      border: 1px solid #626262;
      border-radius: 1rem;
      font-family: Outfit;
      font-weight: 100;
      font-size: 115%;
      color: #626262;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.7rem;
      padding-bottom:0.7rem;
      flex-shrink: 0;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0.06, 0.7, 0, 1.01);
      box-shadow: 0 0.3rem 0px #626262;
      margin-left: auto;
      margin-right: auto;
    }

    .regularButton:hover {
      transform: translateY(-0.3rem);
      background-color: #f2f2f2;
      box-shadow: 0 0.3rem 0px #2878BE;
    }

    .regularButton:active {
      transform: translateY(0.3rem);
      box-shadow: 0 0rem 0px #2878BE;
    }
  
  /* the "load more" button styles */

    .loadMore {
      background-color: white;
      border: 0px solid #626262;
      font-family: Outfit;
      font-weight: 100;
      font-size: 115%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.5rem;
      padding-bottom:0.5rem;
      margin-left: auto;
      margin-right: auto;
      flex-shrink: 0;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.56, 0.01, 0, 0.99);
    }

    .loadMore:hover {
      opacity: 50%;
      transform: translateY(-0.5rem);
    }

    .loadMore:active {
      transform: translateY(0.5rem);
    }

    .loadMore-disabled {
      opacity: 0.5;
      background-color: white;
      border: 0px solid #626262;
      font-family: Outfit;
      font-weight: 100;
      font-size: 115%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.5rem;
      padding-bottom:0.5rem;
      margin-left: auto;
      margin-right: auto;
      flex-shrink: 0;
      text-decoration: none;
      display: inline-block;
      cursor: not-allowed;
    }





.material-symbols-outlined {
  /* class for the search button */
  padding: 0px;
  margin: 0px;
  margin-left: 12rem;
  font-size: 90%;
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 16;
}