body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.body {
  /* just adding padding to the whole body */
  padding: 10px;
}

/* font family stuff */

  @font-face {
    font-family: Outfit;
    src: url("Outfit-Regular.ttf");
    font-weight: 100;
  }

  @font-face {
    font-family: Outfit;
    src: url("Outfit-Bold.ttf");
    font-weight: bold
  }

  @font-face {
    font-family: Outfit;
    src: url("Outfit-SemiBold.ttf");
    font-weight: 200;
  }

/* Page load animations */

@keyframes slideInLeft {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInRight1 {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight2 {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInMoveUp {
  0% {
    opacity: 0%;
    transform: translateY(60px);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%
  }
  100% {
    opacity: 100%
  }
}

/* text styles */

  b {
    color: #626262;
    font-family: Outfit;
    font-weight: 200;
  }

  h1 {
    color: rgb(0, 0, 0);
    font-family: Outfit;
    font-weight: bold;
    border-radius: 25px;
    font-size:3rem;
  }

  .h1-highlight {
    color: #2878BE;
    font-family: Outfit;
    font-weight: bold;
    border-radius: 25px;
    font-size:3rem;
  }

  p {
    color: #A1A1A1;
    font-family: Outfit;
    font-weight: 100;
    line-height: 125%;
    font-size: 115%;
  }
  
  h2 {
    font-family: Outfit;
  }

  h3 {
    font-family: Outfit;
    font-weight: bold;
    color: white;
    font-size:22px;
    padding-left:36px;
    padding-right: 36px;
    margin: 0px;
  }
  
  h4, h5 {
    font-family: Outfit;
    font-weight: 100;
    font-size: 18px;
    color: #A1A1A1;
    margin: 0px;
  }

/* Link styles */

  a {
    height: 10rem;
    font-family: Outfit;
    font-weight: 200;
    color:#626262;
    cursor:pointer;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.56, 0.01, 0, 0.99);
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    text-decoration:none;
  }

  a:hover {
    color:#2878BE;
    text-decoration:underline;
  }

  a:active {
    color:#626262;
  }




/* Stuff for the announcemnt cards */

  .anceCards {
    /* The class for each full announcement card */
    border-radius: 16px;
    border: 1px solid #626262;
    flex-shrink: 0;
    padding:30px;
    margin-bottom: 64px;
    margin-top: 64px;
    animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInLeft;
  }

  .container {
    /* container for centering */
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .anceType {
    /* The class for each announcement role type (e.g., clubs) */
    color: #A9A9A9;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: Outfit;
    font-weight: 100;
  }

  .anceTag {
    /* The class for each announcement ping/role (e.g. Graphic Design Club) */
    float: left;
    border: 1px solid #A9A9A9;
    background-color: #626262;
    color: white;
    border-radius: 3rem;
    font-size: 75%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-right: 0.5rem;
    margin-bottom:-0.4rem;
    font-family: Outfit;
    font-weight: 100;
  }

  .anceBrief {
    /* The class for each announcement brief description */
    color: #626262;
    font-family: Outfit;
    font-weight: bold;
    white-space: normal;
    margin-bottom: 0.3rem;
  }

  .anceDtls {
    /* The class for each announcement detailed description */
    color: #626262;
    font-family: Outfit;
    font-weight: 100;
  }

  /* styles for the individual announcements, e.g., graphic design club announcement */

    .anceSection {
      margin-right: 1rem;
      padding: 1rem;
      border: 1px solid white;
      border-radius: 1rem;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0, 0, 0.13, 0.98);
      opacity: 69%;
    }

    .anceSection:hover {
      transform: translateX(1rem);
      border: 1px solid #A9A9A9;
      border-radius: 1rem;
      opacity: 100%;
      box-shadow: 0 16px 64px #2878be3b;
      cursor:pointer;
    }

    .anceSection:active {
      background-color: #e6e6e6;
    }

    .announcementPopupModal {
      outline: 0;
      background: #FFFFFF;
      box-shadow: 0px 58px 129px 0px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      padding:32px;
      padding-bottom: 8px;
      animation: 0.25s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 fadeInMoveUp;
      margin: 10px;
    }

    #announcementPopupModalAnceBrief {
      margin-top: 12px;
      margin-bottom: 8px;
      color: #626262;
      font-weight: 200;
      font-size: 18px;
    }

    #announcementPopupModalAnceDtls {
      color: #A1A1A1;
      margin-top: 0px;
      margin-bottom: 32px;
      font-weight: 100;
      font-size: 16px;
    }

    #announcementPopupModalXIconBG {
      background: rgba(255, 255, 255, 0);
      padding: 0px;
      border: 0px;
      position: absolute;
      top: 28px;
      right: 32px;
    }

    #announceemntPopupModalXIcon, .socialsButtons {
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0.56, 0.01, 0, 0.99);
    }

    #announcementPopupModalXIcon {
      width: 26px;
      cursor: pointer;
    }

    #announcementPopupModalXIcon:hover {
      opacity: 75%;
    }

    #announcementPopupModalXIcon:active {
      opacity: 50%;
    }

    .announcementPopupModalBG {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      justify-content: center;
    }

    #announcementPopupModalColourBG, #announcementPopupModalColourFG {
      width: 100%;
      height: 80px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    #overlapContainerAnnouncementPopupModalColourBG {
      transform: translate(-32px, -32px);
      width: calc(100% + 64px);
    }

    #announcementPopupModalTagFlexBox {
      display: flex;
      flex-flow: row wrap;
      height: 36px;
      width: 100%;
      position: absolute;
      bottom: 0px;
    }

    #announcementPopupModalTag {
      background: white;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 9px;
      padding-bottom: 9px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    #announcementPopupModalTagText {
      padding: 0px;
      color: #A1A1A1;
      font-size: 14px;
    }

    #announcementPopupModalTagBG {
      background: white;
      font-size: 14px;
      padding: 0px;
      padding-right: 27px;
      padding-left: 27px;
      position: absolute;
      bottom: 0px;
      left: 16px;
    }

    #announcementPopupModalColourBelowBG, #announcementPopupModalColourBelowFG {
      width: 100%;
      height: 30px;
    }

    #announcementPopupModalColourBelowFG {
      height: 32px;
    }

    #announcementPopupModalColourBelowFG {
      background: #FFFFFF;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;;
    }

    #clubDtlsBorder {
      border-radius: 16px;
      border: 1px solid #A1A1A1;
      padding: 24px;
    }
    
    .announcementPopupModalTagSides {
      width: 32px;
      height: 36px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    #clubDtlsName, #clubDtlsLegend, #clubDtlsDesc, .clubDtlsFlexItemTitle, .clubDtlsFlexItemDtls {
      font-size: 12px;
      margin: 0px;
    }

    #clubDtlsLegend {
      position: absolute;
      transform: translate(-8px, -42px);
      color: #A1A1A1;
      font-weight: 100;
      background: white;
      padding: 8px;
    }

    #clubDtlsName, #clubDtlsDesc {
      color: #626262;
    }

    #clubDtlsDesc {
      font-weight: 100;
      margin-top: 8px;
    }

    #clubDtlsFlexBox {
      margin-top: 16px;
      display: flex;
      flex-flow: row wrap;
      gap: 6px;
    }

    .clubDtlsFlexItemBG {
      padding: 12px;
      flex: 1;
    }

    .clubDtlsFlexItemTitle {
      color: #626262;
      font-weight: 200;
    }

    .clubDtlsFlexItemDtls {
      color: #626262;
      font-weight: 100;
    }

    .socialsButtons {
      width: 24px;
      padding-top: 12px;
      padding-bottom: 8px;
    }

    .socialsButtons:hover {
      opacity: 75%;
    }

    #socialsListBG {
      margin-top: 6px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 8px;
    }

    #socialsListBG, .clubDtlsFlexItemBG {
      background: hsla(0, 0%, 63%, 0.15);
      border-radius: 16px;
      border: 1px solid #A1A1A1;
    }

    .popupOverlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: hsla(0, 0%, 74%, 0.5);
      backdrop-filter: blur(10px);
      animation: 0.25s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 fadeIn;
    }

  .dateIdentifier-day {
    /* The class for each announcement day (specific to the date-identifier), e.g. WEDNESDAY */
    color:#626262;
    font-family: Outfit;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  .dateIdentifier-date {
    /* The class for each announcement date (specific to the date-identifer), e.g. 10/09/2020 */
    color:#A9A9A9;
    font-family: Outfit;
    font-weight:bold;
    font-size: 1rem;
  }



/* Button styles */

  .buttonCentre {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* regular button styles, i.e., the ones at the top of the page */

    .regularButton {
      background-color: white;
      border: 1px solid #626262;
      border-radius: 1rem;
      font-family: Outfit;
      font-weight: 100;
      font-size: 115%;
      color: #626262;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.7rem;
      padding-bottom:0.7rem;
      flex-shrink: 0;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0.06, 0.7, 0, 1.01);
      box-shadow: 0 0.3rem 0px #626262;
      margin-left: auto;
      margin-right: auto;
    }

    .regularButton:hover {
      transform: translateY(-0.3rem);
      background-color: #f2f2f2;
      box-shadow: 0 0.3rem 0px #2878BE;
    }

    .regularButton:active {
      transform: translateY(0.3rem);
      box-shadow: 0 0rem 0px #2878BE;
    }
  
  /* the "load more" button styles */

    .loadMore {
      background-color: white;
      border: 0px solid #626262;
      font-family: Outfit;
      font-weight: 100;
      font-size: 115%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.5rem;
      padding-bottom:0.5rem;
      margin-left: auto;
      margin-right: auto;
      flex-shrink: 0;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.56, 0.01, 0, 0.99);
    }

    .loadMore:hover {
      opacity: 50%;
      transform: translateY(-0.5rem);
    }

    .loadMore:active {
      transform: translateY(0.5rem);
    }

    .loadMore-disabled {
      opacity: 0.5;
      background-color: white;
      border: 0px solid #626262;
      font-family: Outfit;
      font-weight: 100;
      font-size: 115%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.5rem;
      padding-bottom:0.5rem;
      margin-left: auto;
      margin-right: auto;
      flex-shrink: 0;
      text-decoration: none;
      display: inline-block;
      cursor: not-allowed;
    }

  /* Search icon stuff (for the search bar */
    .searchIcon {
      height: 16px;
      margin-left: 200px;
    }

@media screen and (min-width: 1080px) {
  .anceCards {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding:64px;
    border-radius: 30px;
  }
  .body {
    padding: 25px;
  }
  .announcementPopupModal {
    width: 720px;
    padding:64px;
    padding-bottom: 16px;
  }

  .announcementPopupModal {
    margin: 0px
  }

  #overlapContainerAnnouncementPopupModalColourBG {
    transform: translate(-64px, -64px);
    width: calc(100% + 128px);
  }

  #announcementPopupModalAnceBrief {
    margin-top: 0px;
    font-size: 24px;
  }

  #announcementPopupModalAnceDtls {
    font-size: 20px;
    margin-bottom: 56px;
  }

  #clubDtlsName, #clubDtlsLegend, #clubDtlsDesc, .clubDtlsFlexItemTitle, .clubDtlsFlexItemDtls {
    font-size: 14px;
  }

  #clubDtlsBorder {
    padding: 30px;
  }

  #clubDtlsLegend {
    transform: translate(-8px, -48px);
  }

  .clubDtlsFlexItemBG {
    padding: 16px;
  }

  #clubDtlsFlexBox {
    gap: 12px;
    margin-top: 24px;
  }

  #socialsListBG {
    margin-top: 12px;
  }

  .socialsButtons {
    width: 36px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  #announcementPopupModalColourBG, #announcementPopupModalColourFG {
    height: 116px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .announcementPopupModalTagSides {
    width: 44px;
    height: 48px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  #announcementPopupModalTag {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  #announcementPopupModalTagText {
    font-size: 16px;
  }

  #announcementPopupModalTagFlexBox {
    height: 47px;
  }

  #announcementPopupModalTagBG {
    padding-right: 42px;
    padding-left: 42px;
    left: 22px;
    font-size: 16px;
  }

  #announcementPopupModalXIconBG {
    top: 42px;
    right: 42px;
  }

  #announcementPopupModalXIcon {
    width: 32px;
    cursor: pointer;
  }

}











/* Stuff for the hero section */

html{scroll-behavior:smooth}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  height: 720px;
  gap: 5px;
  margin: auto;
}

.verticalButtonWrapper1 {
  display: flex;
  flex-flow: column wrap;
  order:2;
  flex: 1;
  gap: 5px;
}

.verticalButtonWrapper2 {
  display: flex;
  flex-flow: column wrap;
  order:3;
  flex: 1;
  gap: 5px;
}



.arrowIcon {
  width: 32px;
  position: absolute;
  top: 36px;
  right: 36px;
  opacity: 0%;
}

.overlapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  /* Background layer */
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.foreground {
  /* Foreground layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}







/* Button 0 stuff */

.button0 {
  background-color: #072136;
  flex: 2.1 0px;
  order: 1;
  border-radius: 25px;
  cursor: pointer;
  animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInLeft;
  height: 100%;
  margin: 0px;
}

#b0Text, .button0 h4, .button0 h5, .button0 .arrowIcon {
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.34, -0.01, 0, 0.99);
}

#b0CompassLogo {
  width: 100px;
  padding-left: 72px;
}

.button0 h4 {
  padding-left: 72px;
  padding-right:72px;
  padding-top: 24px;
  opacity: 0%;
}

#b0Text {
  position: absolute;
  bottom: -32px;
}

.button0:hover #b0Text {
  bottom: 56px;
}

.button0 h5 {
  position: absolute;
  top: 54px;
  right: 128px;
  opacity: 0%;
}

.heroButtonTextOutline {
  color:#072136;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
}

#heroButtonText1, #heroButtonText2, #heroButtonText3 {
  position: absolute;
  font-family: Outfit;
  font-weight: bold;
  font-size: 200px;
  color: white;
  white-space: nowrap;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.34, -0.01, 0, 0.99);
}

#heroButtonText1 {
  left: 56px;
  top: 0px;
}

#heroButtonText2 {
  top: 50%;
  left: 55%;
  transform: translate(-50.75%, -50%);
}

#heroButtonText3 {
  right: 56px;
  bottom: 0px;
}

.button0 .arrowIcon {
  top: 48px;
  right:64px;
}

#b0Gradient, #b0GradientOpaque, #b1Gradient, #b1GradientOpaque, #b2Gradient, #b2GradientOpaque, #b3Gradient, #b3GradientOpaque, #b4Gradient, #b4GradientOpaque {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.34, -0.01, 0, 0.99);
}

#b0Gradient {
  background:radial-gradient(70.61% 100% at 50% 10%, rgba(7, 33, 54, 0.00) 0%, #072136 100.00%);
}

#b0GradientOpaque {
  background: #072136;
  opacity: 0%;
}

.button0:hover #b0GradientOpaque {
  opacity: 89%;
}

.button0:hover .arrowIcon, .button0:hover h5, .button0:hover h4 {
  opacity: 100%
}

.button0:hover .arrowIcon {
  right: 48px;
}

.button0:hover h5 {
  right: 90px;
}

.button0:hover #heroButtonText1 {
  top: 8px;
  left: 60px;
}

.button0:hover #heroButtonText3 {
  bottom: 8px;
  right: 60px;
}

.button0:active #b0GradientOpaque {
  opacity: 100%;
}









/* Button 1 stuff */

.button1 {
  animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInTop;
  position: relative;
  background-color: #113451;
  order: 1;
  flex: 1;
  border-radius: 25px;
  cursor: pointer;
  margin: 0;
}

.button1 h4 {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 8px;
  opacity: 0%
}

#b1Text {
  position: absolute;
  bottom: -16px;
}

.button1:hover #b1Text {
  bottom: 32px;
}

.button1 h4, h3, #b1Ance1, #b1Text {
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.34, -0.01, 0, 0.99);
}

.button1:hover h4 {
  opacity: 100%
}

#b1Gradient {
  background: radial-gradient(119.61% 49.96% at 50.83% 44.89%, rgba(17, 52, 81, 0.00) 0%, #113451 100.00%);
}

#b1GradientOpaque {
  background: #113451;
  opacity: 0%;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.34, -0.01, 0, 0.99);
}

.button1:hover #b1GradientOpaque {
  opacity: 65%
}

.b1AnceTag, #b1AnceBrief1, #b1AnceBrief2, #b1AnceBrief3, #b1AnceDetails1, #b1AnceDetails2, #b1AnceDetails3 {
  height: 20px;
  background-color:#A1A1A1;
  border-radius: 50px;
  margin-left: 5px;
  margin-bottom: 5px;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.34, -0.01, 0, 0.99);
}

.b1AnceTag {
  width: 70px; 
  display: inline-block;
}

#b1AnceBrief1, #b1AnceBrief2, #b1AnceBrief3 {
  opacity: 75%;
  display: inline-block;
  border-radius: 25px 0px 0px 25px
}

#b1AnceBrief1 {
  width: 205px;
}

#b1AnceBrief2 {
  width: 135px;
}

#b1AnceBrief3 {
  width: 65px;
}



#b1AnceDetails1, #b1AnceDetails2, #b1AnceDetails3 {
  opacity: 50%;
  border-radius: 25px 0px 0px 25px;
}

#b1AnceDetails1 {
  width: 280px;
}

#b1AnceDetails2 {
  width: 210px;
}

#b1AnceDetails3 {
  width: 140px;
}

#b1Ance1, #b1Ance2, #b1Ance3 {
  position: absolute;
}

#b1Ance1 {
  right: 0px;
  top: 16%;
}

#b1Ance2 {
  right: 0px;
  top: 36%;
}

#b1Ance3 {
  right: 0px;
  top: 56%;
}

.button1:hover #b1AnceBrief1 {
  width: 115px;
}
.button1:hover #b1AnceDetails1 {
  width:190px;
}

.button1:hover #b1AnceBrief2 {
  width: 75px;
}
.button1:hover #b1AnceDetails2 {
  width: 150px;
}

.button1:hover #b1AnceBrief3 {
  width: 35px;
}
.button1:hover #b1AnceDetails3 {
  width: 110px;
}

.button1:active #b1GradientOpaque {
  opacity: 90%
}









/* Button 2 stuff */

.button2 {
  animation: 0.7s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInBottom;
  background-color: #134287;
  order: 2;
  flex: 1;
  border-radius: 25px;
  cursor:pointer;
  margin: 0px;
}

.button2 h4 {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 8px;
  opacity: 0%
}

#b2Text {
  position: absolute;
  bottom: -16px;
}

.button2:hover #b2Text {
  bottom: 32px;
}

.button2 h4, .button2 .arrowIcon, #b2Map, #b2Text {
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.34, -0.01, 0, 0.99);
}

.button2:hover h4 {
  bottom: 12px;
  opacity: 100%
}

.button2:hover h3 {
  bottom: 64px;
}

#b2GradientOpaque {
  background: #134287;
  opacity: 0%;
}

#b2Gradient {
  background: radial-gradient(100% 40.26% at 90.57% 30.07%, rgba(19, 65, 135, 0) 0%, #134187d7 100.00%);
}

#b2Map {
  position: absolute;
  height: 100%;
  bottom: 20px;
}

.button2:hover .arrowIcon {
  opacity: 100%;
  transform: translateX(5px);
}

.button2:hover #b2Map {
  height: 103%;
  transform: translateX(-5px)
}

.button2:hover #b2GradientOpaque {
  opacity:56%;
}

.button2:active #b2GradientOpaque {
  opacity: 90%;
}





/* Button 3 stuff */

.button3 {
  animation: 0.35s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInRight1;
  background-color: #4341B5;
  order: 1;
  flex: 1.8;
  border-radius: 25px;
  margin: 0px;
}

.button3 h4, .b3Links {
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.34, -0.01, 0, 0.99);
}

.button3 h3 {
  position: absolute;
  bottom: 36px;
}

#kssLogo {
  position: absolute;
  height:33%;
  top: 36px;
  right: 36px;
}

#b3GradientOpaque {
  background: #4341B5;
  opacity: 0%;
}

#b3Gradient {
  background: radial-gradient(55% 30% at 100% 15%, rgba(67, 65, 181, 0.00) 0%, #4341B5 100.00%);
}

.button3:hover #b3GradientOpaque {
  opacity: 85%;
}

.b3Links {
  width: 100%;
  height: 14%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  opacity: 0%;
  transform: translateY(25%);
  cursor: pointer;
}

.b3LinksBig {
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
}

.b3Links:hover h4 {
  color: white;
  text-decoration-line: underline;
}

.button3:hover .b3Links {
  opacity: 100%;
  transform: translateY(-10%);
  height: 15%
}

.button3:active #b3GradientOpaque {
  opacity: 100%;
}





/* Button 4 stuff */

.button4 {
  animation: 0.5s cubic-bezier(0.02, 0.38, 0.22, 0.98) 0s 1 slideInRight2;
  background-color: #5E4CCD;
  order: 2;
  flex: 1;
  border-radius: 25px;
  cursor: pointer;
  margin: 0px;
}

#b4Text {
  position: absolute;
  bottom: -16px;
}

.button4:hover #b4Text {
  bottom: 32px;
}

#b4Folder, #b4Arrow, .button4 h4, .button4 h3, #b4GradientOpaque, #b4Text {
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.34, -0.01, 0, 0.99);
}

#b4Folder, #b4Arrow {
  height: 30%;
  position: absolute;
  top: 28px;
  right: 42px;
}

.button4:hover #b4Folder {
  right: 36px;
}

.button4:hover #b4Arrow {
  right: 30px;
}

#b4Gradient {
  background: radial-gradient(90.10% 34.54% at 90.51% 19.46%, rgba(94, 76, 205, 0.00) 0%, #5E4CCD 100.00%);
}

#b4GradientOpaque {
  background: #5E4CCD;
  opacity: 0%;
}

.button4:hover #b4GradientOpaque {
  opacity: 50%;
}

.button4 h4 {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 8px;
  opacity: 0%
}

.button4:hover h4 {
  opacity: 100%
}

.button4:active #b4GradientOpaque {
  opacity: 100%;
}






@media all and (min-width: 2080px) {
  /* When the user has an uber wide screen */
  .wrapper {
    width: 1980px;
  }
}

@media all and (max-height: 800px) {
  .wrapper {
    height: 550px;
  }
  #heroButtonText1, #heroButtonText2, #heroButtonText3 {
    font-size: 160px;
  }
}

@media all and (max-width: 1600px) {
  /* When the user has a screen that's 1600px wide or less */
  h3 {
    font-size: 18px;
  }

  .wrapper {
    height:500px;
  }

  .verticalButtonWrapper1, .verticalButtonWrapper2, .wrapper {
    gap: 2px;
  }

  h4, h5 {
    font-size: 14px;
  }

  h4 {
    padding-bottom:15px;
  }

  .button0:hover #b0Text {
    bottom: 32px;
  }

  .button0 h5 {
    top: 56px;
  }

  .button1:hover #b1Text {
    bottom: 16px;
  }

  #heroButtonText1, #heroButtonText2, #heroButtonText3 {
    font-size: 160px;
  }

  #heroButtonText1 {
    left: 32px;
  }

  #heroButtonText3 {
    right: 32px;
  }

  .b1AnceTag, #b1AnceBrief1, #b1AnceBrief2, #b1AnceBrief3, #b1AnceDetails1, #b1AnceDetails2, #b1AnceDetails3 {
    height: 15px;
  }

  .b1AnceTag {
    width: 40px;
  }
  
  #b1AnceBrief1 {
    width: 130px;
  }
  #b1AnceDetails1 {
    width: 175px;
  }
  #b1AnceBrief2 {
    width: 85px
  }
  #b1AnceDetails2 {
    width: 130px;
  }
  #b1AnceBrief3 {
    width: 40px;
  }
  #b1AnceDetails3 {
    width: 85px;
  }

  .button1:hover #b1AnceBrief1 {
    width: 70px;
  }
  .button1:hover #b1AnceDetails1 {
    width: 120px
  }
  .button1:hover #b1AnceBrief2 {
    width: 45px;
  }
  .button1:hover #b1AnceDetails2 {
    width: 90px;
  }
  .button1:hover #b1AnceBrief3 {
    width: 20px;
  }
  .button1:hover #b1AnceDetails3 {
    width: 65px;
  }

}

@media all and (max-width: 1000px) {
  /* Basically just mobile support lol */
  .body {
    padding: 5px;
  }
  .wrapper {
    flex-flow: column wrap;
    height: 520px;
  }

  .button0, .button1, .button2, .button3, .button4 {
    border-radius: 16px;
  }

  h3 {
    font-size: 13px;
    padding-left: 24px;
    padding-right: 24px;
  }
  h4 {
    font-size: 0px;
  }
  .button0 {
    flex: 1.5 0px;
  }
  #b0Gradient {
    background: radial-gradient(50% 90% at 50% 10%, rgba(7, 33, 54, 0.00) 0%, #072136cb 100.00%);
  }
  #b0GradientOpaque {
    background: radial-gradient(50% 90% at 50% 80%, rgba(7, 33, 54, 0.00) 0%, #072136dc 100.00%);
    opacity: 100%;
  }

  .button0:hover #b0GradientOpaque {
    background: radial-gradient(50% 90% at 50% 80%, rgba(7, 33, 54, 0.00) 0%, #072136dc 100.00%);
    opacity: 100%;
  }

  .button0 h5 {
    opacity: 100%;
    font-size: 12px;
    top: 24px;
    right: 48px;
  }
  .button0 .arrowIcon {
    opacity: 100%;
    width: 16px;
    top: 24px;
    right: 24px;
  }
  .verticalButtonWrapper1, .verticalButtonWrapper2 {
    flex-flow: row wrap;
  }
  #heroButtonText1, #heroButtonText2, #heroButtonText3 {
    font-size: 60px;
  }
  #b0CompassLogo {
    width: 50%;
    padding-left: 32px;
    padding-bottom: 16px;
  }

  .button0:hover #heroButtonText1 {
    top: 0px;
    left: 32px;
  }
  
  .button0:hover #heroButtonText3 {
    bottom: 0px;
    right: 32px;
  }

  .button0:hover h5 {
    right: 48px;
  }

  .button0:hover .arrowIcon {
    right:24px;
  }
  
  .button0:active #b0GradientOpaque {
    opacity: 100%;
  }

  .button0:hover #b0Text {
    bottom: -32px;
  }


  .button1 {
    height: 100%;
  }

  #b1Ance1 {
    top: 12px;
  }

  #b1Ance2 {
    top: 42px;
  }

  #b1Ance3 {
    top: 72px;
  }

  .b1AnceTag, #b1AnceBrief1, #b1AnceBrief2, #b1AnceBrief3, #b1AnceDetails1, #b1AnceDetails2, #b1AnceDetails3 {
    height: 8px;
    margin-left: 2px;
    margin-bottom: 2px;
  }

  .b1AnceTag {
    width: 24px;
  }
  
  #b1Text, #b2Text, #b4Text {
    bottom:0px;
  }

  .button1:hover #b1Text, .button2:hover #b2Text, .button4:hover #b4Text {
    bottom: 0px;
  }

  .button1:hover #b1GradientOpaque, .button2:hover #b2GradientOpaque, .button3:hover #b3GradientOpaque, .button4:hover #b4GradientOpaque {
    opacity: 0%;
  }

  #b1AnceBrief1 {
    width: 72px;
  }
  #b1AnceDetails1 {
    width: 94px;
  }
  #b1AnceBrief2 {
    width: 46px
  }
  #b1AnceDetails2 {
    width: 72px;
  }
  #b1AnceBrief3 {
    width: 20px;
  }
  #b1AnceDetails3 {
    width: 46px;
  }

  .button1:hover #b1AnceBrief1 {
    width: 72px;
  }
  .button1:hover #b1AnceDetails1 {
    width: 94px
  }
  .button1:hover #b1AnceBrief2 {
    width: 46px;
  }
  .button1:hover #b1AnceDetails2 {
    width: 72px;
  }
  .button1:hover #b1AnceBrief3 {
    width: 20px;
  }
  .button1:hover #b1AnceDetails3 {
    width: 46px;
  }


  .button2 .arrowIcon {
    opacity: 100%;
    width: 16px;
    top: 16px;
    right: 16px;
  }

  .button2:hover .arrowIcon {
    transform: translateX(0px);
  }

  .button2:hover #b2Map {
    height: auto;
    transform: translateX(0px)
  }

  #b2Map {
    height: auto;
    width: 100%;
    top: 0px;
  }


  .button3 {
    flex: 1 0px;
  }

  .b3Links {
    height: 0%;
    width: 0%;
  }

  .b3LinksBig {
    height: 100%;
    width: 100%;
  }

  .button3 h3 {
    position: absolute;
    bottom: 23px;
  }

  #kssLogo {
    height: 30%;
    right:24px;
    top:24px;
  }

  #b3Gradient {
    background: radial-gradient(25% 30% at 80% 25%, rgba(67, 65, 181, 0.00) 0%, #4341B5 100.00%);
  }


  #b4Folder, #b4Arrow {
    top: 24px;
    right: 24px;
    height: 30%;
  }

  .button4:hover #b4Folder, .button4:hover #b4Arrow {
    right: 24px;
    height: 30%;
  }




  .regularButton {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .regularButton:hover {
    transform: translateY(0px);
  }

  .regularButton:active {
    transform: translateY(5px)
  }

  .searchIcon {
    position: absolute;
    right: 16px;
    width: 30%;
  }

  .regularButton {
    flex-grow: 1;
  }

  #searchButton {
    flex-grow: 8;
    padding-left: 0px;
    padding-right: 0px;
  }

  #searchButtonText {
    width: 100%;
  }

  .buttonCentre {
    gap: 5px;
  }




  .dateIdentifier-day {
    font-size: 24px;
  }
  .dateIdentifier-date {
    font-size: 16px;
  }

  .anceSection {
    opacity: 100%;
    margin-right: 0px;
    margin-left: 0px;
    border: 1px solid #ffffff00;
  }
  .anceSection:hover {
    transform: translateX(0px);
    border: 1px solid #ffffff00;
    box-shadow: none;
  }
  .anceSection:active {
    transform: translateY(8px);
  }
  
  .anceBrief, .anceDtls {
    font-size: 14px;
  }
  
  .anceTag {
    font-size: 9px;
    margin-right:3px;
  }
}