.header {
    height: 64px;
    justify-content: flex-start;
}

.kssdir_logo_BG {
    height: 36px;
    width: 36px;
    background-color: #072136;
    border-radius: 50%;
}

.header_logo_button {
    position: absolute;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 64px;
    width: 100vw;
}

.header_logo_div {
    display: inline-flex;
    align-content: center;
    flex-flow: row wrap;
}

.header_logo_div:hover {
    text-decoration: none;
    opacity: 50%;
}

.kssdir_logo {
    position: relative;
    height: 30px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.kssdir_logo_text {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
    font-family: Outfit;
    font-weight: bold;
    color: #072136;
    align-content: center;
}