@keyframes slideIn {

    40% {
        filter: drop-shadow(0px 0px 20px white);
    }
    100% {
        opacity: 100%;
        transform: translate(0px, 0px);
        
    }
}

@keyframes fadeIn {
    60% {
        opacity: 100%
    }
    80% {
        filter: drop-shadow(0px 0px 25px white);
    }
    100% {
        opacity: 100%
    }
}

@keyframes traceOutline {
    100% {
        opacity: 100%;
        stroke-dashoffset: 570;
    }
}

@keyframes rotateIn {
    10% {
        filter: drop-shadow(0px 0px 30px white);
    }
    100% {
        scale: 0.8;
        transform: rotate(0deg);
    }
}

@keyframes slideUp {
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}


.body {
    height: auto;
    width: 100%;
    overflow: hidden;
    background: #072136;
    height: 100vh;
}

.bodyInner {
    margin: 72px;
}

#starLogo {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    animation: 3s cubic-bezier(0.26, 0.02, 0, 0.99) 0s 1 rotateIn;
    scale: 3;
    transform: rotate(-45deg);
    animation-fill-mode: forwards;
}






#ring1, #ring2, #ring3, #ring4, #innerStar, .outerStar, #outerStarSVGBox1, #outerStarSVGBox2, #innerRing1, #innerRing2, #innerRing3, #innerRing4, #outerRing1, #outerRing2, #outerRing3, #outerRing4 {
    width: inherit;
    height: inherit;
    position: absolute;
}

#innerStar {
    animation: 3s linear 0s 1 fadeIn;
    opacity: 0%;
    animation-fill-mode: forwards;
    
}

.outerStar {
    opacity: 50%;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: 3s cubic-bezier(0.34, 0.01, 0.09, 0.99) 0s 1 traceOutline;
    animation-fill-mode: forwards;
}

#outerStarSVGBox1 {
    transform: rotate(180deg);
}




#ring2 {
    transform: rotate(90deg);
}

#ring3 {
    transform: rotate(180deg);
}

#ring4 {
    transform: rotate(270deg);
}

#innerRing1, #innerRing2, #innerRing3, #innerRing4, #outerRing1, #outerRing2, #outerRing3, #outerRing4 {
    animation: 1s cubic-bezier(0.8, 0.02, 0.09, 0.99) 0s 1 slideIn;
    transform: translate(100px, -100px);
    opacity: 0%;
    animation-fill-mode: forwards;
}

#innerRing1 {
    animation-delay: 0.5s
}

#outerRing1 {
    animation-delay: 0.6s;
}

#innerRing2 {
    animation-delay: 0.8s;
}

#outerRing2 {
    animation-delay: 0.9s;
}

#innerRing3 {
    animation-delay: 1.1s
}

#outerRing3 {
    animation-delay: 1.2s;
}

#innerRing4 {
    animation-delay: 1.4s
}

#outerRing4 {
    animation-delay: 1.5s;
}


#heroTextAbove, #heroText, #heroTextBody, #heroButtonSection {
    animation: 1s cubic-bezier(0.26, 0.02, 0, 0.99) 0s 1 slideUp;
    opacity: 0%;
    animation-fill-mode: forwards;
    transform: translateY(50px);
}



#heroTextAbove, #heroText, #heroTextBody {
    text-align: center;
}

#heroTextAbove {
    color: #81ADD4;
    font-size: 20px;
    margin-top: 300px;
    margin-bottom: 0px;
}

#heroText {
    margin-top: 20px;
    color: white;
    font-size: 50px;
    margin-bottom: 36px;
    animation-delay: 0.15s;
}

#heroTextBody {
    font-size: 16px;
    width:620px;
    margin: auto;
    animation-delay: 0.3s;
}

#heroButtonSection {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    margin-top: 64px;
    justify-content: center;
    animation-delay: 0.45s;
}

#whatsUpButton {
    display: block;
    background: #2878BE;
    height: 44px;
    border-radius: 16px;
    margin: 0px;
    animation: 1s linear
}

#whatsUpButton:hover, #discordButton:hover {
    text-decoration: none;
    background: #626262;
}

#whatsUpButtonText {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    margin: 0px;
}

#discordButton {
    display: block;
    border: 1px solid #A1A1A1;
    height: 44px;
    width: 44px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    margin: 0px;
}

#discordIcon {
    width: 24px;
}


@media all and (max-width: 620px) {

    #heroText {
        font-size: 36px;
    }

    #heroTextBody {
        width: auto;
        font-size: 14px;
        
    }

    #heroTextAbove {
        font-size: 16px;
        margin-top: 240px;
    }

    #heroText, #heroTextBody {
        margin-left: 32px;
        margin-right: 32px;
    }

    #starLogo {
        margin-top: 0px;
    }

    .bodyInner {
        margin: 32px;
    }

    #heroButtonSection {
        margin-top: 48px;
    }
}
